RewriteEngine On 
   
RewriteRule ^(css|images|js|fonts) - [L]

RewriteRule ^user/([^/]+)$ cv.php?user=$1 [NC,L]
RewriteRule ^user/([^/]+)/$ cv.php?user=$1 [NC,L]

RewriteRule ^logout dash.php?action=logout [NC,L]
RewriteRule ^logout/ dash.php?action=logout [NC,L]

RewriteRule ^dashboard dash.php [NC,L]
RewriteRule ^dashboard/ dash.php [NC,L]

RewriteRule ^login login.php [NC,L]
RewriteRule ^login/ login.php [NC,L]

ErrorDocument 404 404.html

